body{
  background-color:#ddf0ff;
  font-family: Helvetica;
}

/* Header */
.header-wrapper {
  background-color: #bfe2fd;
  border-bottom: 1px solid #bfe2fd;
  width: 100%;
  height: 60px;
  position: relative;
  z-index:5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Selected Screenshot */
.screenshot-wrapper {
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:#f6faff;
}

.screenshot-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
}

.screenshot-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
}

.screenshot-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
}

.screenshot-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.screenshot-done-button {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.btn-action{
  font-family: Helvetica;
  background-color:#2366f5;
  border-color: #2366f5;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #123a8f;
  border-color: #123a8f;
}

.btn-add {
  position: absolute;
  right: 0px;
}

/* Screenshot List */
.screenshot-list-wrapper {
  padding-top:20px;
  background-color:#f6faff;
}

.screenshot-list-table {
  margin-top: 20px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  cursor: pointer;
}

.search-button:hover {
  background-color: #123a8f;
  border-color: #123a8f;
  color: white;
}

.cont_ {
  -webkit-box-shadow: 6px 6px 20px 0 #757575;
  box-shadow: 6px 6px 20px 0 #757575;
  background-color:#f6faff;
}